<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<!--
		payload: com.apple.TCC.configuration-profile-policy
		description: The payload you use to configure privacy preferences.
	-->
<plist version="1.0">
<dict>
	<key>Services</key>
	<dict>
		<key>ScreenCapture</key>
		<array>
			<dict>
				<key>Authorization</key>
				<string>AllowStandardUserToSetSystemService</string>
				<key>CodeRequirement</key>
				<string>anchor apple generic and identifier "com.displaylink.DisplayLinkUserAgent" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = "73YQY62QM3")</string>
				<key>Comment</key>
				<string></string>
				<key>Identifier</key>
				<string>com.displaylink.DisplayLinkUserAgent</string>
				<key>IdentifierType</key>
				<string>bundleID</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
