<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<!--
		payload: com.apple.screensaver
		description: The payload you use to configure the screen saver.
	-->
<plist version="1.0">
<dict>
	<key>askForPassword</key>
	<true/>
	<key>askForPasswordDelay</key>
	<integer>10</integer>
	<key>loginWindowIdleTime</key>
	<integer>0</integer>
</dict>
</plist>